<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}My Website{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <h1>{% block header %}este es mi proyecto de fin de curso{% endblock %}</h1>
  </header>
        {% block content %}
        {% endblock content %}
</body>
</html>