<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}My Website{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
  <h1>{% block header %}este es mi proyecto de fin de curso{% endblock header %}</h1>
  <a href="{% url 'blog:post_list' %}">Volver a la lista</a> | <a href="{% url 'blog:publication_create' %}">Crear nueva publicación</a> | <a href="{% url 'blog:login' %}">Iniciar sesión</a> 

{% if user.is_authenticated %}
  <p>Bienvenido, {{ user.username }}!</p>

    {% csrf_token %}
    <button type="submit">Cerrar sesión</button>
  </form>

{% endif %}
  </header>
        {% block content %}
        
        {% endblock content %}
</body>
</html>