{% extends "_base.html" %}
<a href="{% url 'blog:post_list' %}">Volver a la lista</a> 
{% block content %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
  <p>Author: {{ post.author }}</p>
{% if user == post.author %}
  <a href="{% url 'blog:post_update' post.pk %}">Editar publicación</a> | <a href="{% url 'blog:post_delete' post.pk %}">Eliminar publicación</a>
{% endif %}
  <hr>
  <p>Comentarios:</p>
  <ul>
    {% for comment in post.comments.all %}
      <li>{{ comment.content }} - {{ comment.author }}</li>
    {% endfor %}
  </ul>
  <h3>Agregar comentario:</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
  </form>
{% endblock content %}

